@charset "ISO-8859-1";
body{
	background: #FCC513; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #9aecf6, #a5e7db);
	background: -moz-linear-gradient(right, #9aecf6, #a5e7db);
	background: -o-linear-gradient(right, #9aecf6, #a5e7db);
	background: linear-gradient(to left, #9aecf6, #a5e7db);     
}

a:link {
	text-decoration:none;
	border-right-style:solid;
	border-left-style:solid;
	border-width:2px;
	border-color:gray;
	border-radius:3px;
	color:black;
}
a:visited {
	color:#c40b3e;
	background-color:white;
	border-color:gray;
}
a:active {
	color:white;
}
a:hover {
	border-top-style:solid;
	border-bottom-style:solid;

}